/*MOBILE CSS*/
/* =========================================== */
body {
    background-image:
        url("beach/island.png"),
        url("beach/water.png"),
        url("beach/front-cloud.png"),
        url("beach/back-cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
        url("default/background.bmp");
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: bottom right, bottom, center, center, top, top;
    background-attachment: fixed;
    background-color: #064564;
    background-size: 80vh, 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

.heart {
    background-image: url("default/logo_small.png") !important;
    image-rendering: auto;
    background-repeat: no-repeat;
}

#slide {
    Border: 8px solid #064564;
}

#pageno {
    color: #fff;
    background-color: #064564;
}

#comments {
    background-color: #064564;
    Border: 8px solid #064564;
    color: #559ec2;
}

#comments>.spoiler-border {
    border: transparent;
}

#comments>.spoiler-border>.spoilerbutton {
    background-color: #064564;
    border: 2px solid #053852;
    color: #559ec2;
}

/*SITE ONLY*/
/* =========================================== */

.um {
    transform: translateX(-145px);
    width: 650px;
}

.umcontainer {
    background-image: url("https://miro.gg/mspfafacereverse");
    background-repeat: no-repeat;
    background-position-x: 795px;
}

.mspfalogo {
    background-image: url("https://miro.gg/mspfaface") !important;
    size: 70%;
    border-right: 4px solid transparent;
    background-color: transparent;
    background-position-x: 0px;
}

#infobox>div.spoiler.open {
    Border: 4px solid #064564;
}

#commentbox>div.spoiler.open {
    Border: 4px solid #064564;
}

/*PC CSS*/
/* =========================================== */
@media screen and (min-width: 1200px) {
    body {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
            url("default/background.gif");
        background-repeat: no-repeat, repeat;
        background-size: cover, 20vh;
    }

    /* PARALLAX BACKGROUND */
    #overlay>div,
    #overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }

    #overlay {
        background-image: url("beach/water.png");
        animation: 60s water-move linear infinite;
        background-position: bottom left;
        background-repeat: repeat-x;
        background-size: 80vh;
        z-index: -2;
    }

    .overlay-1 {
        background-image: url("beach/back-cloud.png");
        animation: 180s backcloud-move linear infinite;
        background-position: center left;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-2 {
        background-image: url("beach/front-cloud.png");
        animation: 50s frontcloud-move linear infinite reverse;
        background-position: center left;
        background-position-y: 20vh;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-3 {
        background-image: url("beach/island.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 80vh;
    }

    @media screen and (min-height: 500px) {
        .overlay-4 {
            background-image: url("beach/wave.png");
            animation: 30s wave-move ease-in-out infinite;
            background-position-y: 70.5vh;
            background-position-x: 50vw;
            background-repeat: no-repeat;
            background-size: 80vh;
        }

        .overlay-5 {
            background-image: url("beach/wave.png");
            animation: 20s wave-move ease-in-out infinite;
            background-position-y: 70.5vh;
            background-position-x: 50vw;
            background-repeat: no-repeat;
            background-size: 80vh;
        }

        .overlay-6 {
            background-image: url("beach/wave.png");
            animation: 10s wave-move ease-in-out infinite;
            background-position-y: 70.5vh;
            background-position-x: 50vw;
            background-repeat: no-repeat;
            background-size: 80vh;
        }
    }

    @keyframes water-move {
        to {
            background-position: 80vh bottom;
        }
    }

    @keyframes backcloud-move {
        to {
            background-position: 80vh center;
        }
    }

    @keyframes frontcloud-move {
        to {
            background-position: 80vh center;
            background-position-y: 20vh;
        }
    }

    @keyframes wave-move {
        0% {
            transform: scalex(5%);
            opacity: 0;
        }

        50% {
            transform: scalex(100%);
            background-position-x: 90%;
            opacity: 1;
        }

        100% {
            transform: translateY(24%) scaley(15%);
            background-position-x: 60%;
            opacity: 0;
        }
    }
}