/*MOBILE CSS*/
/* =========================================== */
body {
    background-image:
        url("default/sky_cloud.png"),
        url("default/front_cloud.png"),
        url("default/bg_cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(7, 15, 107, 0.95) 25%, rgba(22, 119, 156, 1) 80%),
        url("default/background.bmp");
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: center, bottom, bottom, top, top;
    background-attachment: fixed;
    background-color: #064564;
    background-size: 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

.heart {
    background-image: url("default/logo_small.png") !important;
    image-rendering: auto;
    background-repeat: no-repeat;
}

#slide {
    Border: 8px solid #064564;
}

#pageno {
    color: #fff;
    background-color: #064564;
}

#comments {
    background-color: #064564;
    Border: 8px solid #064564;
    color: #559ec2;
}

#comments>.spoiler-border {
    border: transparent;
}

#comments>.spoiler-border>.spoilerbutton {
    background-color: #064564;
    border: 2px solid #053852;
    color: #559ec2;
}

/*SITE ONLY*/
/* =========================================== */

.um {
    transform: translateX(-145px);
    width: 650px;
}

.umcontainer {
    background-image: url("https://miro.gg/mspfafacereverse");
    background-repeat: no-repeat;
    background-position-x: 795px;
}

.mspfalogo {
    background-image: url("https://miro.gg/mspfaface") !important;
    size: 70%;
    border-right: 4px solid transparent;
    background-color: transparent;
    background-position-x: 0px;
}

#infobox>div.spoiler.open {
    Border: 4px solid #064564;
}

#commentbox>div.spoiler.open {
    Border: 4px solid #064564;
}

#flashytitle {
    height: 68px;
    background-image: url("default/header.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: transparent;
    padding-top: 10px;
    margin-top: 10px;
    background-size: 100vmax;
}

#flashytitlebottom {
    height: 68px;
    background-image: url("default/header.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: transparent;
    padding-top: 10px;
    margin-top: 10px;
    background-size: 100vmax;
    transform: scaleX(-1);
}

/*PC CSS*/
/* =========================================== */
@media screen and (min-width: 1200px) {
    body {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(7, 15, 107, 0.95) 25%, rgba(22, 119, 156, 1) 80%),
            url("default/background.gif");
        background-repeat: no-repeat, repeat;
        background-size: cover, 20vh;
    }

    #flashytitle {
        background-size: auto;
    }

    #flashytitlebottom {
        background-size: auto;
    }

    /* PARALLAX BACKGROUND */
    #overlay>div,
    #overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }

    #overlay {
        background-image: url("default/sky_cloud.png");
        animation: 180s skycloud-move linear infinite reverse;
        z-index: -2;
        background-position: center left;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-1 {
        background-image: url("default/bg_cloud.png");
        animation: 50s bgcloud-move linear infinite;
        background-position: bottom left;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-2 {
        background-image: url("default/front_cloud.png");
        animation: 20s frontcloud-move linear infinite;
        background-position: bottom left;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    @keyframes skycloud-move {
        to {
            background-position: 80vh center;
        }
    }

    @keyframes bgcloud-move {
        to {
            background-position: 80vh bottom;
        }
    }

    @keyframes frontcloud-move {
        to {
            background-position: 80vh bottom;
        }
    }
}