/*FONT IMPORT*/

@font-face {
    font-family: 'Coder\'s Crux';
    src: url('font/coders-crux/Coders-Crux.eot');
    src: local('Coder\'s Crux Regular'), local('Coder\'s-Crux'),
        url('font/coders-crux/Coders-Crux.eot?#iefix') format('embedded-opentype'),
        url('font/coders-crux/Coders-Crux.woff2') format('woff2'),
        url('font/coders-crux/Coders-Crux.woff') format('woff'),
        url('font/coders-crux/Coders-Crux.ttf') format('truetype'),
        url('font/coders-crux/Coders-Crux.svg#Coder\'s-Crux') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fipps';
    src: url('font/fipps/Fipps-Regular.eot');
    src: local('Fipps Regular'), local('Fipps-Regular'),
        url('font/fipps/Fipps-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/fipps/Fipps-Regular.woff2') format('woff2'),
        url('font/fipps/Fipps-Regular.woff') format('woff'),
        url('font/fipps/Fipps-Regular.ttf') format('truetype'),
        url('font/fipps/Fipps-Regular.svg#Fipps-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gothic Pixel';
    src: url('font/gothic-pixel/Gothic-Pixel.eot');
    src: local('Gothic Pixel Regular'), local('Gothic-Pixel'),
        url('font/gothic-pixel/Gothic-Pixel.eot?#iefix') format('embedded-opentype'),
        url('font/gothic-pixel/Gothic-Pixel.woff2') format('woff2'),
        url('font/gothic-pixel/Gothic-Pixel.woff') format('woff'),
        url('font/gothic-pixel/Gothic-Pixel.ttf') format('truetype'),
        url('font/gothic-pixel/Gothic-Pixel.svg#Gothic-Pixel') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retrogression';
    src: url('font/retrogression/Retrogression-Regular.eot');
    src: local('Retrogression Regular'), local('Retrogression-Regular'),
        url('font/retrogression/Retrogression-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/retrogression/Retrogression-Regular.woff2') format('woff2'),
        url('font/retrogression/Retrogression-Regular.woff') format('woff'),
        url('font/retrogression/Retrogression-Regular.ttf') format('truetype'),
        url('font/retrogression/Retrogression-Regular.svg#Retrogression-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hiveswap Alternian';
    src: url('font/hiveswap-alternian/HiveswapAlternian-Regular.eot');
    src: local('Hiveswap Alternian Regular'), local('HiveswapAlternian-Regular'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.woff2') format('woff2'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.woff') format('woff'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.ttf') format('truetype'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.svg#HiveswapAlternian-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Homestuck';
    src: url('font/homestuck/Homestuck-Regular.eot');
    src: local('Homestuck Regular'), local('Homestuck-Regular'),
        url('font/homestuck/Homestuck-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/homestuck/Homestuck-Regular.woff2') format('woff2'),
        url('font/homestuck/Homestuck-Regular.woff') format('woff'),
        url('font/homestuck/Homestuck-Regular.ttf') format('truetype'),
        url('font/homestuck/Homestuck-Regular.svg#Homestuck-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Victorian Parlor';
    src: url('font/victorian-parlor-vintage/VictorianParlorVintage.eot');
    src: local('Victorian Parlor Vintage'), local('VictorianParlorVintage'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.eot?#iefix') format('embedded-opentype'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.woff2') format('woff2'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.woff') format('woff'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.ttf') format('truetype'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.svg#VictorianParlorVintage') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Victorian Parlor Alternate';
    src: url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.eot');
    src: local('Victorian Parlor Vintage Alternate'), local('VictorianParlorVintageAlternate'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.eot?#iefix') format('embedded-opentype'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.woff2') format('woff2'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.woff') format('woff'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.ttf') format('truetype'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.svg#VictorianParlorVintageAlternate') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apple Chancery';
    src: url('font/apple-chancery/Apple-Chancery.eot');
    src: local('Apple Chancery Italic'), local('Apple-Chancery'),
        url('font/apple-chancery/Apple-Chancery.eot?#iefix') format('embedded-opentype'),
        url('font/apple-chancery/Apple-Chancery.woff2') format('woff2'),
        url('font/apple-chancery/Apple-Chancery.woff') format('woff'),
        url('font/apple-chancery/Apple-Chancery.ttf') format('truetype'),
        url('font/apple-chancery/Apple-Chancery.svg#Apple-Chancery') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Blood Script';
    src: url('font/blood-script/BloodScriptItalicPersonalUs-N.eot');
    src: local('Blood Script Italic Personal Us'), local('BloodScriptItalicPersonalUs-N'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.eot?#iefix') format('embedded-opentype'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.woff2') format('woff2'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.woff') format('woff'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.ttf') format('truetype'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.svg#BloodScriptItalicPersonalUs-N') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* ==================================================== */

body {
    font-family: "Courier New", "Courier", "monospace";
    font-size: 12px;
    margin: 0px;
    background-color: #064564;
}

a:link {
    color: #0080c2;
}

a:visited {
    color: purple;
}

a:hover {
    color: #0080c2;
}

a:active {
    color: red;
}

#nav {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

#nav img {
    margin-bottom: -2;
    padding: 0 10;
}

#container {
    font-weight: bold;
    font-size: 14px;
}

#slide {
    width: 650;
    margin: 20px auto 20px auto;
    background-color: #eeeeee;
    image-rendering: auto;
}

#slide>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#command {
    text-align: center;
    font-size: xx-large;
    padding: 14px 0;
}

#content {
    width: 600px;
    margin: 0 25px;
    padding-top: 25;
    text-align: center;
    margin-bottom: 14px;
    font-family: 'Courier New', "Courier", "monospace";
}

#content>img {
    margin-left: -27px;
}

#map>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    image-rendering: optimizeQuality;
    width: 165%;
}

#foot {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

#timestamp {
    margin: -20 10 10 25px;
    text-align: right;
    font-size: 6px;
    color: rgb(185, 185, 185);
}

#nextpage {
    margin: 40 25 12 25px;
    font-weight: normal;
    font-size: x-large;
}

#navigate {
    font-family: inherit;
    margin: 0 25 20 25px;
    font-size: 10;
    text-transform: uppercase;
}

#pageno {
    margin: -23px auto 30 auto;
    padding: 6 0 4 0;
    width: 666;
    height: 25px;
    font-weight: bold;
    font-size: 15;
    text-align: center;
}

.heart {
    background-position-x: 10px;
}

.iframe-container {
    background: #eeeeee url("loading.gif") no-repeat 50% center !important;
}

/* ==================================================== 
Comments Section*/

#comments {
    margin-bottom: -20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    width: 630;
    padding: 10 10 0 0px;
    font-family: "courier", "monospace";
}

#comments img {
    max-width: 60px;
    padding-right: 10px;
}

#comments>.spoiler-border>.spoiler {
    overflow: auto;
    background-color: #EEE;
    margin: 25 0 0 0px;
}

.username {
    font-weight: bold;
    font-size: 16px;
}

.commenttimestamp {
    font-weight: normal;
    font-size: 12px;
    font-family: courier;
    color: #8c8c8c;
}

table {
    padding: 0 15 15 15px;
}

/* Comments Section
==================================================== */



/* ==================================================== 
SPOILER button*/

.spoilerbutton {
    display: inline-block;
    margin: -11px 0px;
}

.spoiler {
    overflow: auto;
    background-color: #EEE;
}

.spoiler>div {
    line-height: 18.9px;
    text-align: left;
}

.spoilerbutton[value="Show"]+.spoiler>div {
    max-height: 0;
}

.spoilerbutton[value="Hide"]+.spoiler>div {
    padding: 5px;
    padding-top: 25px;
}

.spoilerbutton[value="Show Chat"]+.spoiler>div {
    max-height: 0;
}

.spoilerbutton[value="Hide Chat"]+.spoiler>div {
    padding: 5px;
    padding-top: 25px;
}

.spoilerbutton[value="Show Log"]+.spoiler>div {
    max-height: 0;
}

.spoilerbutton[value="Hide Log"]+.spoiler>div {
    padding: 5px;
    padding-top: 25px;
}

.spoilerbutton[value="Show Journal"]+.spoiler>div {
    max-height: 0;
}

.spoilerbutton[value="Hide Journal"]+.spoiler>div {
    padding: 5px;
    padding-top: 25px;
}

.spoilerbutton[value="Show Comments"]+.spoiler>div {
    max-height: 0;
}

.spoilerbutton[value="Hide Comments"]+.spoiler>div {
    padding: 5px;
    padding-top: 25px;
}

.spoiler-border {
    padding: 12px;
    border: 1px dashed gray;
    padding-left: 32.5px;
    padding-right: 32.5px;
    align-content: center;
}

/* SPOILER button
==================================================== */