/* THIS IS FOR ALL OFFLINE PAGES, NOT MSPFA */

body {
    font-family: "courier", "monospace";
    font-size: 12px;
    overflow-y: scroll;
    text-align: center;
}

a:link {
    color: #0080c2;
}

a:visited {
    color: purple;
}

a:hover {
    color: #0080c2;
}

a:active {
    color: red;
}

iframe {
    border: none
}

#nav {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
}

#main {
    width: 940px;
    margin: 0 auto;
    padding: 0 5px 5px;
}

#container {
    font-weight: bold;
    font-size: 14px;
    image-rendering: auto;
}

#slide {
    width: 600px;
    max-width: 940px;
    margin: 20px auto 20px;
    padding: 0 25px;
    word-wrap: break-word;
    word-break: break-word;
}

#command {
    font-size: xx-large;
    padding: 14px 0
}

#content img {
    max-width: 940px;
}

#content canvas.major,
#content iframe.major,
#content img.major,
#content object.major,
#content ruffle-object.major,
#content video.major {
    margin: 0 -25px;
    padding-bottom: 20px;
}

#foot {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    width: 650px;
    margin-left: -25px;
}

#links {
    margin-top: 31px;
    margin-left: 25px;
    font-weight: normal;
    font-size: x-large;
    text-align: left;
}

#gamelinks {
    margin-left: 25px;
    text-align: left;
    font-size: smaller;
}

#timestamp {
    margin-right: 20px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 7px;
    color: rgb(185, 185, 185);
}

#map>img {
    image-rendering: optimizeQuality;
    width: 165%;
    padding-bottom: 20px;
}

#flashytitle,
#flashytitlebottom {
    height: 68px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: transparent;
    padding-top: 10px;
    margin-top: 10px;
}

#flashytitlebottom {
    transform: scaleX(-1);
}

.heart {
    padding: 0px 5px;
    margin-left: 10px;
    margin-bottom: -3px;
}


/* ==================================================== 
Comments Section*/

table {
    text-align: left;
    color: black;
}

#tab {
    font-family: "courier", "monospace";
    font-weight: bold;
    overflow: hidden;
    padding-top: 20px;
}

#tab button {
    font-family: 'Homestuck';
    float: middle;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-size: 3ch;
    margin: 1px -3.5px 3px -3.5px;
    padding: 4px 8px 4px 8px;
    transition: 0.2s;
}

#user,
#author {
    overflow: auto;
    padding: 20px;
}

#author {
    color: black;
}

#user {
    font-family: "courier",
        "monospace";
}

#user img {
    max-width: 60px;
    padding-right: 10px;
}

#user table {
    padding: 0 15 15 15px;
}

#pageno {
    padding-top: 10px;
    padding-bottom: 6px;
}

.username {
    font-weight: bold;
    font-size: 16px;
}

.commenttimestamp {
    font-weight: normal;
    font-size: 12px;
    font-family: courier;
    color: #8c8c8c;
}

.tabcontent {
    display: none;
    padding: 10px;
    animation: fadeEffect 0.5s;
}

.tabcontent img {
    max-width: 350px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* ==================================================== 
SPOILER button*/

.spoilerbutton {
    display: inline-block;
}

.spoiler {
    overflow: auto;
    background-color: #EEE;
}

.spoiler>div {
    line-height: 18.9px;
    text-align: left;
}

.spoilerbutton[value="Show"]+.spoiler>div,
.spoilerbutton[value="Show Chat"]+.spoiler>div,
.spoilerbutton[value="Show Log"]+.spoiler>div,
.spoilerbutton[value="Show Journal"]+.spoiler>div {
    display: none;
}

.spoilerbutton[value="Hide"]+.spoiler>div,
.spoilerbutton[value="Hide Chat"]+.spoiler>div,
.spoilerbutton[value="Hide Log"]+.spoiler>div,
.spoilerbutton[value="Hide Journal"]+.spoiler>div {
    margin: 12px;
    padding: 3px;
}

.spoiler-border {
    padding: 1px;
    border: 1px dashed gray;
    padding-left: 32.5px;
    padding-right: 32.5px;
    align-content: center;
}


/* =============================================Text Effects */

/*Shake, Wave, textfx*/
.shake,
.wave,
.textfx {
    display: inline-block;
}

shake>span.shake {
    animation: none !important;
}

wave,
shake.wave {
    --amt: 1;
}

.wave .shake,
.wave {
    animation: wave 2s linear infinite;
}

.wave .shake:nth-child(5n+3),
.wave:nth-child(5n+3) {
    animation-delay: -0.4s;
}

.wave .shake:nth-child(5n+2),
.wave:nth-child(5n+2) {
    animation-delay: -0.8s;
}

.wave .shake:nth-child(5n+1),
.wave:nth-child(5n+1) {
    animation-delay: -1.2s;
}

.wave .shake:nth-child(5n),
.wave:nth-child(5n) {
    animation-delay: -1.6s;
}

@keyframes wave {
    from {
        transform: rotate(0deg) translateX(calc(var(--amt) * 0.05ch)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--amt) * 0.05ch)) rotate(-360deg);
    }
}

/*Squash*/
.squash {
    --amt: 1;
}

.squash .textfx {
    animation: squash 1s ease-in-out infinite alternate;
}

.squash .textfx:nth-child(8n+7) {
    animation-delay: -1.75s;
}

.squash .textfx:nth-child(8n+6) {
    animation-delay: -1.5s;
}

.squash .textfx:nth-child(8n+5) {
    animation-delay: -1.25s;
}

.squash .textfx:nth-child(8n+4) {
    animation-delay: -1s;
}

.squash .textfx:nth-child(8n+3) {
    animation-delay: -0.75s;
}

.squash .textfx:nth-child(8n+2) {
    animation-delay: -0.5s;
}

.squash .textfx:nth-child(8n+1) {
    animation-delay: -0.25s;
}

.squash .textfx:nth-child(8n) {
    animation-delay: 0s;
}


@keyframes squash {
    from {
        transform: scaleX(1) scaleY(calc(var(--amt) * 1.5));
    }

    to {
        transform: scaleX(calc(var(--amt) * 1.2)) scaleY(1);
    }
}

/*Vwave*/
.vwave {
    --amt: 1;
}

.vwave .textfx {
    animation: vwave 1s ease-in-out infinite alternate;
}

.vwave .textfx:nth-child(10n+9) {
    animation-delay: -1s;
}

.vwave .textfx:nth-child(10n+8) {
    animation-delay: -1.2s;
}

.vwave .textfx:nth-child(10n+7) {
    animation-delay: -1.4s;
}

.vwave .textfx:nth-child(10n+6) {
    animation-delay: -1.6s;
}

.vwave .textfx:nth-child(10n+5) {
    animation-delay: -1.8s;
}

.vwave .textfx:nth-child(10n+3) {
    animation-delay: -0.2s;
}

.vwave .textfx:nth-child(10n+2) {
    animation-delay: -0.4s;
}

.vwave .textfx:nth-child(10n+1) {
    animation-delay: -0.6s;
}

.vwave .textfx:nth-child(10n) {
    animation-delay: -0.8s;
}

@keyframes vwave {
    from {
        transform: translateY(calc(var(--amt) * 0.2ch));
    }

    to {
        transform: translateY(calc(var(--amt) * -0.2ch));
    }
}

/*Rainbow*/
.rainbow {
    --amt: 4;
}

.rainbow .textfx {
    animation: rainbow calc(var(--amt) * 2s) linear infinite;
}

.rainbow .textfx:nth-child(10n+9) {
    animation-delay: calc(var(--amt) * -2s);
}

.rainbow .textfx:nth-child(10n+8) {
    animation-delay: calc(var(--amt) * -1.8s);
}

.rainbow .textfx:nth-child(10n+7) {
    animation-delay: calc(var(--amt) * -1.6s);
}

.rainbow .textfx:nth-child(10n+6) {
    animation-delay: calc(var(--amt) * -1.4s);
}

.rainbow .textfx:nth-child(10n+5) {
    animation-delay: calc(var(--amt) * -1.2s);
}

.rainbow .textfx:nth-child(10n+4) {
    animation-delay: calc(var(--amt) * -1s);
}

.rainbow .textfx:nth-child(10n+3) {
    animation-delay: calc(var(--amt) * -0.8s);
}

.rainbow .textfx:nth-child(10n+2) {
    animation-delay: calc(var(--amt) * -0.6s);
}

.rainbow .textfx:nth-child(10n+1) {
    animation-delay: calc(var(--amt) * -0.4s);
}

.rainbow .textfx:nth-child(10n) {
    animation-delay: calc(var(--amt) * -0.2s);
}

@keyframes rainbow {

    to,
    from {
        color: violet;
    }

    5% {
        color: red;
    }

    15% {
        color: orange;
    }

    25% {
        color: yellow;
    }

    35% {
        color: lime;
    }

    45% {
        color: green;
    }

    55% {
        color: darkgreen;
    }

    65% {
        color: blue;
    }

    75% {
        color: blueviolet
    }

    85% {
        color: indigo;
    }

    95% {
        color: violet;
    }
}


/* ============================================FONT IMPORT*/

@font-face {
    font-family: 'Coder\'s Crux';
    src: url('font/coders-crux/Coders-Crux.eot');
    src: local('Coder\'s Crux Regular'), local('Coder\'s-Crux'),
        url('font/coders-crux/Coders-Crux.eot?#iefix') format('embedded-opentype'),
        url('font/coders-crux/Coders-Crux.woff2') format('woff2'),
        url('font/coders-crux/Coders-Crux.woff') format('woff'),
        url('font/coders-crux/Coders-Crux.ttf') format('truetype'),
        url('font/coders-crux/Coders-Crux.svg#Coder\'s-Crux') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Fipps';
    src: url('font/fipps/Fipps-Regular.eot');
    src: local('Fipps Regular'), local('Fipps-Regular'),
        url('font/fipps/Fipps-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/fipps/Fipps-Regular.woff2') format('woff2'),
        url('font/fipps/Fipps-Regular.woff') format('woff'),
        url('font/fipps/Fipps-Regular.ttf') format('truetype'),
        url('font/fipps/Fipps-Regular.svg#Fipps-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Gothic Pixel';
    src: url('font/gothic-pixel/Gothic-Pixel.eot');
    src: local('Gothic Pixel Regular'), local('Gothic-Pixel'),
        url('font/gothic-pixel/Gothic-Pixel.eot?#iefix') format('embedded-opentype'),
        url('font/gothic-pixel/Gothic-Pixel.woff2') format('woff2'),
        url('font/gothic-pixel/Gothic-Pixel.woff') format('woff'),
        url('font/gothic-pixel/Gothic-Pixel.ttf') format('truetype'),
        url('font/gothic-pixel/Gothic-Pixel.svg#Gothic-Pixel') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Retrogression';
    src: url('font/retrogression/Retrogression-Regular.eot');
    src: local('Retrogression Regular'), local('Retrogression-Regular'),
        url('font/retrogression/Retrogression-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/retrogression/Retrogression-Regular.woff2') format('woff2'),
        url('font/retrogression/Retrogression-Regular.woff') format('woff'),
        url('font/retrogression/Retrogression-Regular.ttf') format('truetype'),
        url('font/retrogression/Retrogression-Regular.svg#Retrogression-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Hiveswap Alternian';
    src: url('font/hiveswap-alternian/HiveswapAlternian-Regular.eot');
    src: local('Hiveswap Alternian Regular'), local('HiveswapAlternian-Regular'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.woff2') format('woff2'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.woff') format('woff'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.ttf') format('truetype'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.svg#HiveswapAlternian-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Homestuck';
    src: url('font/homestuck/Homestuck-Regular.eot');
    src: local('Homestuck Regular'), local('Homestuck-Regular'),
        url('font/homestuck/Homestuck-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/homestuck/Homestuck-Regular.woff2') format('woff2'),
        url('font/homestuck/Homestuck-Regular.woff') format('woff'),
        url('font/homestuck/Homestuck-Regular.ttf') format('truetype'),
        url('font/homestuck/Homestuck-Regular.svg#Homestuck-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Victorian Parlor';
    src: url('font/victorian-parlor-vintage/VictorianParlorVintage.eot');
    src: local('Victorian Parlor Vintage'), local('VictorianParlorVintage'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.eot?#iefix') format('embedded-opentype'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.woff2') format('woff2'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.woff') format('woff'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.ttf') format('truetype'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.svg#VictorianParlorVintage') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Victorian Parlor Alternate';
    src: url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.eot');
    src: local('Victorian Parlor Vintage Alternate'), local('VictorianParlorVintageAlternate'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.eot?#iefix') format('embedded-opentype'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.woff2') format('woff2'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.woff') format('woff'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.ttf') format('truetype'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.svg#VictorianParlorVintageAlternate') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Apple Chancery';
    src: url('font/apple-chancery/Apple-Chancery.eot');
    src: local('Apple Chancery Italic'), local('Apple-Chancery'),
        url('font/apple-chancery/Apple-Chancery.eot?#iefix') format('embedded-opentype'),
        url('font/apple-chancery/Apple-Chancery.woff2') format('woff2'),
        url('font/apple-chancery/Apple-Chancery.woff') format('woff'),
        url('font/apple-chancery/Apple-Chancery.ttf') format('truetype'),
        url('font/apple-chancery/Apple-Chancery.svg#Apple-Chancery') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Blood Script';
    src: url('font/blood-script/BloodScriptItalicPersonalUs-N.eot');
    src: local('Blood Script Italic Personal Us'), local('BloodScriptItalicPersonalUs-N'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.eot?#iefix') format('embedded-opentype'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.woff2') format('woff2'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.woff') format('woff'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.ttf') format('truetype'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.svg#BloodScriptItalicPersonalUs-N') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('font/pressStart2P/PressStart2P-Regular.eot');
    src: url('font/pressStart2P/PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/pressStart2P/PressStart2P-Regular.woff2') format('woff2'),
        url('font/pressStart2P/PressStart2P-Regular.woff') format('woff'),
        url('font/pressStart2P/PressStart2P-Regular.ttf') format('truetype'),
        url('font/pressStart2P/PressStart2P-Regular.svg#PressStart2P-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Courier New';
    src: url('font/courier-new/CourierNew.eot');
    src: url('font/courier-new/CourierNew.eot?#iefix') format('embedded-opentype'),
        url('font/courier-new/CourierNew.woff2') format('woff2'),
        url('font/courier-new/CourierNew.woff') format('woff'),
        url('font/courier-new/CourierNew.ttf') format('truetype'),
        url('font/courier-new/CourierNew.svg#CourierNewPSMT') format('svg');
    font-display: swap;
}