/*FONT IMPORT*/
@font-face {
    font-family: "Coder's Crux";
    src: url('font/coders_crux.ttf');
}

@font-face {
    font-family: "Fipps Regular";
    src: url('font/fipps-regular.otf');
}

@font-face {
    font-family: "Gothic Pixel Regular";
    src: url('font/gothic-pixel-regular.ttf');
}

@font-face {
    font-family: "Hiveswap Alternian";
    src: url('font/hiveswap_alternian.ttf');
}

@font-face {
    font-family: "Homestuck Reuglar";
    src: url('font/homestuck-regular.ttf');
}

@font-face {
    font-family: "Victorian Parlor Vintage";
    src: url('font/victorian-parlor-vintage.otf');
}

@font-face {
    font-family: "Trumpit";
    src: url('font/trumpit.otf');
}

/*SCROLL BAR*/
/* =========================================== */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #035c88;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #035c88;
}

/* ==================================================== */

body {
    background-image:
        url("theme/default/sky_cloud.png"),
        url("theme/default/front_cloud.png"),
        url("theme/default/bg_cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(7, 15, 107, 0.95) 25%, rgba(22, 119, 156, 1) 80%),
        url("theme/default/background.gif");
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: center, bottom, bottom, top, top;
    background-attachment: fixed;
    background-color: #064564;
    background-size: 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
    scrollbar-color: #064564 #053852;
}

a {
    color: #0080c2 !important;
}

nav {
    color: #f4ab24 !important;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe {
    image-rendering: pixelated;
}

.major {
    color: #005682 !important;
    text-shadow: 0 2px #f4ab24 !important;
}

.heart {
    background-image: url("theme/default/logo_small.png") !important;
    image-rendering: auto;
    background-repeat: no-repeat;
}

.um {
    transform: translateX(-145px);
    width: 650px;
}

.umcontainer {
    background-image: url("theme/default/mspfafacereverse.png");
    background-repeat: no-repeat;
    background-position-x: 795px;
}

.mspfalogo {
    background-image: url("theme/default/mspfaface.png") !important;
    size: 70%;
    border-right: 4px solid transparent;
    background-color: transparent;
    background-position-x: 0px;
}

#flashytitle {
    height: 68px;
    background-image: url("theme/default/header.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: transparent;
    padding-top: 10px;
    margin-top: 10px;
}

#flashytitlebottom {
    height: 68px;
    background-image: url("theme/default/header.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: transparent;
    padding-top: 10px;
    margin-top: 10px;
    transform: scaleX(-1);
}

#main {
    background-color: transparent;
}

#slide {
    image-rendering: auto;
}

#details {
    font-weight: bold;
    text-align: center;
}

#infobox>div.spoiler.open {
    Border: 4px solid #064564;
}

#commentbox>div.spoiler.open {
    Border: 4px solid #064564;
}

img#storyicon {
    image-rendering: auto;
    -moz-image-rendering: auto;
}

img.cellicon {
    image-rendering: auto;
    -moz-image-rendering: auto;
}

/*NAVIGATION*/
/*=================================================*/
nav>a,
nav>div>a:first-child {
    visibility: hidden;
    word-spacing: -999px;
    letter-spacing: -999px;
}

nav>a::after,
nav>div>a:first-child::after {
    visibility: visible;
    word-spacing: normal;
    letter-spacing: normal;
}

/* MSPFA HOME */
nav a[href="/"]::after {
    content: "PORT";
    color: #f4ab24
}

/* MSPA */
nav a[href="http://www.mspaintadventures.com/"]::after {
    content: "LAND YONDER";
    color: #f4ab24
}

/* EXPLORE */
nav a[href="/stories/"]::after {
    content: "EXPLORE";
}

/* RANDOM */
nav a[href="/random/"]::after {
    content: "PLUNDER";
}

/* STATISTICS */
nav a[href="/stats/"]::after {
    content: "COFFERS";
}

/* LOG */
nav a[href^="/log/"]::after {
    content: "CAPTAIN'S LOG";
}

/* SEARCH */
nav a[href^="/search/"]::after {
    content: "SCRY";
}

/* MY MSPFA */
nav a[href="/my/"]::after {
    content: "CAPTAIN'S QUARTERS";
}

/* DISCORD */
nav a[href="https://discord.gg/EC5acgG"]::after {
    content: "TAVERN";
}

/* DONATE */
nav a[href="/donate/"]::after {
    content: "YAAARR";
    color: #af00af
}

/* MORE */
nav a[href="/more/"]::after {
    content: "CARRIER PIGEON";
    color: #af00af
}


#foot span a {
    visibility: hidden;
    word-spacing: -999px;
    letter-spacing: -999px;
}

#foot span a::after {
    visibility: visible;
    word-spacing: normal;
    letter-spacing: normal;
}

#startover::after {
    content: "ABANDON SHIP";
    color: #bb8013
}

#goback::after {
    content: "SAIL BACK";
    color: #bb8013
}

#savegame::after {
    content: "STEAL TREASURE";
}

#loadgame::after {
    content: "OPEN TREASURE";
}

#deletegame::after {
    content: "DISCARD TREASURE";
    color: #af00af;
}